@model WebApplication4.Models.Report

<div class="row justify-content-center">
    <dt class="col-sm-4">
        Nom :
    </dt>
    <dd class="col-sm-4">
        @Html.DisplayFor(model => model.Accident.VictimInformation.Person.LastName)
    </dd>
</div>
<div class="row justify-content-center">
    <dt class="col-sm-4">
        Prénom :
    </dt>
    <dd class="col-sm-4">
        @Html.DisplayFor(model => model.Accident.VictimInformation.Person.FirstName)
    </dd>
</div>
@{
    if (Model.Accident.VictimInformation.Person.OutsideFirmID != null) {
        <div class="row justify-content-center">
            <dt class="col-sm-4">
                Nom de la firme extérieure :
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => model.Accident.VictimInformation.Person.OutsideFirm.Label)
            </dd>
        </div>
    }
}

@{
    if (Model.Accident.VictimInformation.WorkStopped == false && Model.Accident.VictimInformation.WorkResumed == false)
    {
        <hr class="col-sm-10" />
        <div class="row justify-content-center">
            @if (Model.Accident.VictimInformation.WorkStopped)
            {
                <dt class="col-sm-4">
                    Début de l'arrêt de travail :
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Accident.VictimInformation.DateTimeWorkStopped)
                </dd>
            }
            else
            {
                <dt class="col-sm-4">
                    Arrêt de travail :
                </dt>
                <dd class="col-sm-4">
                    Aucun
                </dd>
            }
        </div>
        @if (Model.Accident.VictimInformation.WorkResumed)
        {
            <div class="row justify-content-center">
                <dt class="col-sm-4">
                    Fin de l'arrêt de travail :
                </dt>
                <dd class="col-sm-4">
                    @Html.DisplayFor(model => model.Accident.VictimInformation.DateTimeWorkResumed)
                </dd>
            </div>
        }
        else
        {
            @if (Model.Accident.VictimInformation.WorkStopped)
            {
                <div class="row justify-content-center">
                    <dt class="col-sm-4">
                        Fin de l'arrêt de travail :
                    </dt>
                    <dd class="col-sm-4">
                        Indéterminée.
                    </dd>
                </div>
            }
        }
    }
}

<hr class="col-sm-10" />
<div class="row justify-content-center">
    <dt class="col-sm-4">
        La victime occupait-elle sa fonction habituelle ? :
    </dt>
    <dd class="col-sm-4">
        @Html.DisplayFor(model => model.Accident.VictimInformation.UsualFunction)
    </dd>
</div>
<div class="row justify-content-center">
    <dt class="col-sm-4">
        Activité lors de l'accident :
    </dt>
    <dd class="col-sm-4">
        @Html.DisplayFor(model => model.Accident.VictimInformation.ActivityDuringAccident)
    </dd>
</div>
<hr class="col-sm-10" />


@{
    List<string> lesionNatures = ViewBag.lesionNature;
    if (lesionNatures.Count > 0)
    {
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <table class="table table-hover caption-top">
                    <caption style="color:black;"><b>Lésion(s) de la victime :</b></caption>
                    <thead>
                        <tr>
                            <th scope="col">Lésion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int i = 0; i < lesionNatures.Count; i++)
                            {
                                <tr>
                                    <td>@lesionNatures.ToArray()[i]</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-hover caption-top">
                    <caption style="color:black;"><b>Sièges(s) de(s) lésion(s) :</b></caption>
                    <thead>
                        <tr>
                            <th scope="col">Siège</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<string> lesionSeats = ViewBag.lesionSeat;
                            for (int i = 0; i < lesionSeats.Count; i++)
                            {
                                <tr>
                                    <td>@lesionSeats.ToArray()[i]</td>
                                </tr>
                            }
                        }
                    </tbody>
            </table>
        </div>
    </div>
    }
}