@model WebApplication4.Models.Accident

<!-- Direct Mesures-->
<link rel="stylesheet" href="~/css/checkboxStyleButton.css" asp-append-version="true" />

<div class="form-group">
    <h5>Mesures appliquées directement</h5>
    @foreach(DirectMesure item in ViewBag.DirectMesuresAll){
        <div class="card ">
            <input type="checkbox" class="btn-check tabulation_needed necessaryField check-mesures" name="DirectMesuresChecked" value="@item.Label" id="@item.Label" autocomplete="off" onchange="saveLocallyCustom(this.id, 'mesureDirect')" onclick="changeIsNecessaryCheckoxList('check-mesures')">
            <label class="btn btn-outline-secondary card-body" for="@item.Label">@item.Label</label>
        </div>
    }

    <div class="card">
        <input type="checkbox" class="btn-check card-body tabulation_needed necessaryField check-mesures" name="mesureAppliqueeAutre" id="mesureAppliqueeAutre" onclick="changeMesureVisibility()">
        <label class="btn btn-outline-secondary card-body" for="mesureAppliqueeAutre" style="width:100%; text-align: center;margin:auto; padding:15px"> Autre mesure (à préciser) </label>
    </div>
    <div id="mesureInput" class="d-md-flex invisible card">
        <input type="textarea" class="card-body tabulation_needed" name="textAreaMesure" cols="40" rows="2" id="mesureOther">
        <div id="resultMesure" class="result d-none"></div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/js/directMesures.js")"></script>


<!-- Proposed Mesures -->

<div class="form-group">
    <h5>Mesures proposées</h5>
    <div class="hover-text" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
        </svg>
        <span class="tooltip-text" id="bottomSpanTooltip">
            <p style="list-style: none;">
                Quelle(s) mesure(s) pourrai(en)t être mise(s) en place pour éviter que ça se reproduise.   
            </p>
        </span>
    </div>
    <div class="row">
        <div class="col" style="border-right: 1px black solid;">
            <ul id="listProposedMesure" style="list-style:none;">
                @foreach (var proposedMesure in ViewBag.ProposedMesuresCategorie) {
                    <li>
                        <div class="col card">
                            @if (proposedMesure.Label == "Néant")
                            {
                                <input class="btn-check tabulation_needed necessaryField check-proposedMesure" name="ProposedMesuresChecked" type="checkbox" value="@proposedMesure.Label" id="@proposedMesure.Label" onclick="changeIsNecessaryCheckoxList('check-proposedMesure')">
                            }
                            else
                            {
                                <input class="btn-check tabulation_needed " name="ProposedMesuresChecked" type="checkbox" value="@proposedMesure.Label" id="@proposedMesure.Label" onclick="clickItemMesure(@proposedMesure.ID, '@ViewBag.startAtZeroOrNotProposedMesure')">
                            }

                            <label class="btn btn-outline-secondary card-body" for="@proposedMesure.Label"> @proposedMesure.Label </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="col">
            <ul id="listProposedMesureDetail" style="list-style:none;">
                @foreach (var proposedMesureDetail in ViewBag.ProposedMesuresDetail) {
                    <li>
                        <div class="card @proposedMesureDetail.Code childEl col" style="display: none;">
                            <input class="btn-check tabulation_needed necessaryField check-proposedMesure" name="ProposedMesuresDetailsChecked" type="checkbox" value="@proposedMesureDetail.Label" id="@proposedMesureDetail.Label" onchange="saveLocallyCustom(this.id, 'mesureProp')" onclick="changeIsNecessaryCheckoxList('check-proposedMesure')">
                            <label class="btn btn-outline-secondary card-body"  for="@proposedMesureDetail.Label" style=""> @proposedMesureDetail.Label </label>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/js/proposedMesures.js")"></script>